input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    }
    input[type="range"] {
    width: 200px;
    }

    .vega-bind {
    font-size: 17px;
    margin-bottom: 4px;
    }

    .vega-bind-name {
    font-size: 17px;
    }

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-color: #f7f5ef;
      color: #2b2b2b;
    }

    .dashboard {
      max-width: 1350px;
      margin: 0 auto;
      padding: 32px 24px 48px;
    }

    header {
      text-align: center;
      margin-bottom: 36px;
    }

    header h1 {
      margin-bottom: 8px;
      font-size: 34px;
      color: #3b2f1f;
    }

    header p {
      margin: 0;
      font-size: 16px;
      color: #666;
    }

    .section {
      margin-bottom: 36px;
    }

    .section h2 {
      font-size: 24px;
      margin-bottom: 18px;
      color: #3b2f1f;
      border-left: 6px solid #c97926;
      padding-left: 12px;
    }

    
    .chart-card {
        background: white;
        padding: 16px 18px;
        margin-bottom: 18px;
        border-radius: 14px;
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
        overflow-x: auto;
    }

    .chart-card p {
        margin: 0 0 10px 0;
        padding-left: 6px;
        font-size: 18px;
        font-weight: 600;
        color: black;
    }

    .two-column {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 28px;
      align-items: start;
    }

    .full-width {
      width: 100%;
    }

    footer {
      text-align: center;
      font-size: 13px;
      color: #777;
      margin-top: 40px;
    }

    @media (max-width: 900px) {
      .two-column {
        grid-template-columns: 1fr;
      }

      .dashboard {
        padding: 24px 14px;
      }

      header h1 {
        font-size: 28px;
      }
    }
    #malaysia_map {
        position: relative;
    }

    #malaysia_map .vega-bindings {
        position: absolute;
        left: 570px;
        top: 525px;
        z-index: 10;
    }

    #malaysia_map .vega-bind {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .map-wrapper {
        position: relative;
    }

    .map-annotation {
        position: absolute;
        left: 360px;
        top: 410px;
        width: 300px;
        text-align: center;
        font-size: 15px;
        font-weight: 450;
        font: "Arial";
        color: black;
        line-height: 1.25;
        opacity: 0.75;
        pointer-events: none;
    }
